/* :root { */
/* Light theme defaults */
/* --chakra-colors-background: white;
  --chakra-colors-text: #1a202c;
} */

/* .dark { */
/* Dark theme overrides */
/* --chakra-colors-background: #1a202c;
  --chakra-colors-text: white;
} */

:root {
  --chakra-colors-white: #ffffff;
  --chakra-colors-black: #1a202c;
  --chakra-colors-gray-800: #1a202c;
}

.dark {
  --chakra-colors-gray-800: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* or your desired background */
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  height: 100%;
  box-sizing: border-box;
}
